<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>ImageBazar</title>
  </head>
  <body>
    {% include 'navbar.html' %}

  <div class="container">
     <div class="row mt-4">
             <div class="col-md-2 ">
                <div class="list-group">
                   <a href="{% url 'ShowHome' %} " class="list-group-item list-group-item-action active "
                    style="background-color: #1de9b6;"aria-current="true">All Images</a>
                    {% for i in categories %}
                    <a href="/category/{{ i.pk}}" class="list-group-item list-group-item-action "
                    tabindex="-1" >{{ i.title }}</a>
                    {% endfor %}
                </div>
             </div>

     <div class="col-md-10">
       <!--  <div class ='row mt-4'>-->

         <div class="card-columns">
              <div class="row">
             {% for i in images %}
                  <div class="col-sm  ">
                  <div class="card border border-light" style="width: 290px;" >
                      <img src="/media/{{ i.image }}" class="card-img-top " style="width: 300px; height: 300px " alt="...">
                      <div class="card-body" >
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-text">{{ i.description }}</p>
                        <a href="/media/{{ i.image }}"  class="btn btn-light"
                         style="background-color:#00b686">View </a>
                         <a href="#" class="btn btn-primary  " onclick="showmodalwithimage('{{ i.image }}')">
                          Launch modal</a> </div>
                      </div>
                  </div>
             {% endfor %} </div>
                  </div>
             </div>
         </div>
     </div>

<!-- Modal -->
<div class="modal fade" id="imagemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">My ImageBazar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <img src="#!"   id="imageshow" class="img-fluid" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>

  function showmodalwithimage(imageurl)
  {
  $('#imagemodal').modal('show')
  $('#imageshow').attr('src',`/media/${imageurl}`)
  }


  </script>
  <div class="content container">
            <div class="row">
                <div class="col-md-8">
                  <div class="blog_posts">
                    {% block content %}
                    {% endblock %}

                  </div>

                </div>
            </div>
        </div>
   <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https:
    //cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  <!-- Button trigger modal -->

  </body>

</html>