
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>imageBazar</title>

  </head>
  <body>
  {% include 'navbar.html' %}
<!--{% if query %}
<h1>Posts containing "{{ query }}"</h1>
           <h3>
           {% with results.count as total_results %}
           Found {{ total_results }} result{{ total_results|pluralize }}
           {% endwith %}
           </h3>
   {% for c in results %}
   <a href="{{ c.get_absolute_url }}"><h3>{{ c.title }}</h3></a>



   {% empty %}
   <h4>There are no results for your query.</h4>
   {% endfor %}

{% else %}
    <h2>NO QUERY  ERROR </h2>
{% endif %} -->
{% if posts %}
  <h1>The posts are:</h1>
      {% for post in posts %}
        <div class="col-md-8 mt-4 mb-4" style="background-color:#6d6e70;">
          <h3>{{ post.title }}</h3>
         <!-- <p>{{post.created_at}}</p>-->
          <a href=/category/{{ i.post.id}}" class="btn btn-sm btn-primary">Find More</a>
        </div>
      {% endfor %}
  {% else %}
    <h2>NO QUERY  ERROR </h2>
{% endif %}

</body>"/category/{{ i.post.id}}"